{% extends "polls/base.html" %}

{% block title %}Dashboard{% endblock %}
{% block heading %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">bubble_chart</i>
                </div>
                <div class="card-content">
                    <p class="category">Total Elections</p>
                    <h3 class="card-title">184</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">donut_small</i> Total Number of Elections
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                    <i class="material-icons">scatter_plot</i>
                </div>
                <div class="card-content">
                    <p class="category">Active</p>
                    <h3 class="card-title">75.521</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">lock_open</i> Ongoing Elections
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">bubble_chart</i>
                </div>
                <div class="card-content">
                    <p class="category">Completed</p>
                    <h3 class="card-title">$34,245</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">lock</i> Completed Elections
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">scatter_plot</i>
                </div>
                <div class="card-content">
                    <p class="category">Pending</p>
                    <h3 class="card-title">+245</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Elections Not started
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}