{% extends "polls/visitor_blade.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
            <div class="card">
                <div class="card-content">
                    <h2 class="text-rose">Welcome to Groot</h2>
                    <h4>
                        Lorem Ipsum is simply dummy text of the printing
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}