{% extends "polls/visitor_blade.html" %}

{% block title %}Thanks For Voting{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <div class="text-center vote-header">
                <h2>Election: Another Election</h2>
                <h4>Thank you for taking part in this election. You ballot was casted successfully</h4>
                <i class="material-icons thanks-tick">check</i>
            </div>
        </div>
    </div>
{% endblock %}